#container-all {
    display: flex;
    height: 80vh;
}

#cont-header {
    display: flex;
}

/* --------------- LEFT container ----------------*/
#container-left {
    flex-basis: 20%;
    height: 100%;
    border: 1px solid black;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#project-list-header {
    padding: 0;
    margin: 0;
    /* width: 100%; */
}

#project-list-header-div {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-header {
    margin: 0;
    padding: 0;
}

#project-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0;
}

#btn-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#add-task {
    padding: 10px;
    margin: 10px;
    /* flex: 0 1 100px; */
    /* max-width: 100px; */
}

.project {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    font-size: medium;
    cursor: pointer;
    /* width: 100%; */
}

.project-selected {
    background-color: lightblue;
}

/* ----------------End left Container ------------ */

/* right container */

#container-right {
    display: flex;
    flex-basis: 80%;
    position: relative;
    height: 100%;
    border: 1px solid black;
    background-color: lightsteelblue;
}

.project-display-right {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    width: clamp(200px, 25vw, 300px);
    height: clamp(200px, 15vh, 300px);
}

.item-title {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}

.item-attributes {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.attributes-left {
    padding: 0;
    margin: 0;
    font-size: smaller;
}

.attributes-right {
    padding: 0;
    margin: 0;
    font-size: smaller;
}

.item-description {
    margin-top: 10px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 10px;
}

/*  ----------------- Zoom into single Todo Item ----------------- */
.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-card-display {
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    justify-content: center;
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 80%;
    height: 80%;
    margin: 10px;
    padding: 0px;
    background-color: whitesmoke;
    overflow: auto;
}

/* -----------------   Dialog Box  ------------------ */
#dialog-box p {
    margin: 0;
    padding: 0;
}

#form-bucket-1 {
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 10px;
}

#form-bucket-2 {
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 10px;
}

#form-bucket-3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#new-description {
    width: 60vw;
    height: 60vh;
}