#container-all {
    display: flex;
    height: 80vh;
}

#container-left {
    flex-basis: 20%;
    height: 100%;
    border: 1px solid black;
    background-color: lightgrey;
}

#container-right {
    flex-basis: 80%;
    height: 100%;
    border: 1px solid black;
    background-color: lightsteelblue;
}